#map-canvas{
    float:right;
    display: inline-block;
    width: 550px;
    height: 500px;

}
#NotificationScreen{
    height: 497px;
    width: 285px;
    border: 2px solid black;
    border-radius: 5px;
    float:right;
    display:block;
    border-style:solid;
    border-color:#bbb #888 #666 #aaa;
    background:#206978;
    color: white;
    line-height:2;
    text-align:left;
    text-decoration:none;
    font-weight:900;
    display: inline-block;
    font-size: 17px;
}
.request{
    display:block;
    border-style:solid;
    border-color:#bbb #888 #666 #aaa;
    border-width:3px 4px 4px 3px;
    background:#97C1B6;
    line-height:2;
    text-align:center;
    text-decoration:none;
    font-weight:900;
    font-size: 12px;
    font-family: 'Quicksand', sans-serif;
    color: black;

}
.request > a{
    color:green;
    margin:5px;
}
.request > .inline-block {
    display: inline-block;
    vertical-align: middle;
}
.request > .inline-message {
    display: inline-block;
    vertical-align: middle;
}
.request > .message {
    width: 180px;
}

.request-done{
    color:red;
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;

}

#topheading {
    font-size: 50px;
    line-height: 80px;
    font-weight: bold;
    color: white;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 30px;
    height: 80px;
    margin-bottom: 10px;
}

h1{
    margin-left: 60px;
}

body {
    font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    color: #404040;
    background: linear-gradient(270deg, #336899, #234290);;
}

#buttonsSection{
    height: 180px;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 50px;
    position:absolute;
    font-family: 'Quicksand', sans-serif;
    color: white;
    }

#StatusBlock{
    height: 220px;
    width: 350px;
    border: 2px solid black;
    border-radius: 5px;
    float:left;
    position:absolute;

    /*Add your CSS here!*/
}

#StatusBlock > h1 {
    color:white;
    font-family: 'Quicksand', sans-serif;
}

#InnerStatusBlock{
    height: 90px;
    width: 250px;
    border: 2px solid black;
    border-radius: 5px;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    line-height: 90px;
    text-align: center;
    text-decoration-color: white;
    font-size: 35px;
    font-family: 'Quicksand', sans-serif;
    color: white;
}


.submit {
    padding: 4px;
    display: inline-block;
    height: 75px;
    width: 90px;
    border-radius: 100%;
    text-align: center;
    line-height: 75px;
    margin-left:5px;
    color: white;
    font-family: 'Quicksand', sans-serif;

}

#Available{
    background-color: forestgreen;
    border: 5px solid #009900;
    text-align: center;
    margin-left: 5px;
}

#Busy{
    background-color: orange;
    border: 5px solid darkorange;


}

#NotAvailable{
    background-color: red;
    border: 5px solid darkred;
    margin-left: 5px;

}

.submit:link {color: blue; text-decoration:none}
.submit:visited {color: blue; text-decoration:none}
.submit:hover {text-decoration: none; opacity: 0.6; }

img{
    width:100px;
    height:100px;
    border-radius:100%;
}




